@page "/"

<PageTitle>Index</PageTitle>

<h1>Jaya Vijaya Panja Muga Vinayagar Alayam</h1>

<img src="HJNKovil-img1.jpg" width="400px" height="300px"/>
<img src="HJNKovil-img2.jpg" width="400px" height="300px" />
<img src="HJNKovil-img3.jpg" width="400px" height="300px" />
<img src="HJNKovil-img4.jpg" width="400px" height="300px" />

@* Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" /> *@
