@page "/"

<PageTitle>Index</PageTitle>

<h1>Jaya Vijaya Panja Muga Vinayagar Alayam</h1>

@* Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" /> *@
<div>
    <img src="C:\Users\subas\Downloads\coding\HJNKoyil-Final\HJNKovil-img.jpg" />
</div>